backports.tarfile
boto3
dcp-eval
docx
en-core-web-lg
en-core-web-sm
fr-core-news-md
fr-core-news-sm
httptools
importlib-metadata
jaraco.collections
openpyxl
pdfminer-six
pdfplumber
pip-chill
pipdeptree
platformdirs
presidio-analyzer
presidio-anonymizer
protobuf
psycopg2-binary
pydantic-settings
pytesseract
python-multipart
sentencepiece
sqlalchemy
tomli
torch
transformers
uvloop
watchfiles
websockets
